@media (max-width: 1450px) {
    .travel_title {
        font-size: 17px;
    }

    .travel_text {
        font-size: 15px;
    }
    
    .card_travel {
        height: auto;
    }
}

@media (max-width: 1240px) {
    .main-container {
        padding: 60px 0;
        gap: 60px;
    }

    .section_header {
        padding-bottom: 30px;
    }
}

@media (max-width: 1200px) {
    .header {
        border-radius: 0 0 40px 40px;
    }

    .nav-list {
        display: none;
    }

    .user {
        display: none;
    }

    #mobile_nav-btn {
        display: flex;
    }

    .search-content {
        width: auto;
        height: auto;
    }

    .nav-search {
        align-items: center;
        gap: 0;
    }

    .loc {
        padding-left: 0;
    }

    .activity,.calendary,.users {
        width: 180px;
    }

    .section_card--dest {
        grid-template-columns: repeat(3, 1fr);
    }

    .section_card--hotels,.section_card--travel,.section_card--activities {
        grid-template-columns: repeat(2, 1fr);
    }

    .card_travel {
        height: auto;
    }

    .blocknot {
        font-size: 16px;
    }

    .footer {
        padding: 60px 0;
    }

    .footer_row {
        justify-content: center;
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width: 1030px) {
    .aboutUs_text {
        line-height: 25px;
    }

    .footer_row {
        grid-template-columns: repeat(1, auto);
    }
}

@media (max-width: 950px) {
    .header {
        height: auto;
        min-height: 500px;
    }

    .container-head {
        justify-content: flex-start;
        row-gap: 90px;
    }

    .nav-title > .title {
        font-size: 32px;
    }

    .section_card--aboutUs {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 930px) {

    .nav-search {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: auto;
        height: auto;
        gap: 20px;
        padding: 10px;
    }

    .loc,.activity,.calendary,.users {
        width: auto;
    }

    .autoComplete_wrapper > input {
        width: auto;
    }

    .search-btn {
        width: 100%;
    }
}

@media (max-width: 790px) {

    .section_title {
        font-size: 25px;
    }
}

@media (max-width: 750px) {
    .section_card--dest {
        grid-template-columns: repeat(2, 1fr);
    }

    .section_card--hotels {
        grid-template-columns: repeat(1, 1fr);
    }

    .blocknot {
        font-size: 12px;
    }
}

@media (max-width: 650px) {
    
    .nav-title > .title {
        font-size: 22px;
    }
    
    .title-btn_item {
        padding: 15px !important;
        font-size: 14px;
    }

    .card_travel {
        height: 600px;
    }

    .section_card--activities,.section_card--travel {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 550px) {
    .card_travel {
        height: 500px;
    }

    .footer_nav {
        gap: 0;
    } 
}

@media (max-width: 500px) {

    .section_title {
        font-size: 18px;
    }

    .section_card--dest {
        grid-template-columns: repeat(1, 1fr);
    }

    .section_card--hotels {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 460px) {
    .nav-title > .title {
        font-size: 14px;
    }

    .section_title {
        font-size: 14px;
    }

    .card_title {
        font-size: 14px;
    }

    .travel_title {
        font-size: 16px;
    }

    .travel_text {
        font-size: 14px;
    }

    .title_btn {
        font-size: 10px;
        padding: 5px;
    }

    .card_location--activity {
        font-size: 14px;
    }

    .aboutUs_text {
        font-size: 14px;
    }

    .footer_row {
        gap: 30px;
    }

    .logo_social {
        justify-content: space-around;
    }

    .footer_logo,.footer_nav,.footer_sub,.sub_form {
        width: 320px;
    }

    .sub_form {
        gap: 0;
    }
}

@media (max-width: 450px) {
    .card_travel {
        height: 385px;
    }

    .footer {
        padding: 20px 0;
    }
}