@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,400&family=Inknut+Antiqua:wght@400;600;700&family=Inter:wght@400;500;700&family=Josefin+Sans:wght@500;600;700&family=Montserrat:wght@400;500;700&family=Poppins:wght@300;400;500;600&display=swap');
@import 'reset.css';

html, body {
    font-family: 'Poppins', sans-serif;
}

/* Header */

.header {
    width: auto;
    height: 800px;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-image: url(/image/bg.jpg);
    border-radius: 0 0 54px 54px;
    padding: 31px 0 100px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 32px;
}

.container-head {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    cursor: pointer;
}

.nav-list {
    display: flex;
    column-gap: 54px;
    color: white;

    & a {
        text-decoration: none;
        color: white;
    }
}

.nav-list_link {
    opacity: 0.7;
}

.nav-list_link--active {
    opacity: 1;
}

.user {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: white;

    & .userImg {
        cursor: pointer;
    }
}

.user-text h2 {
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

.user-name {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* burger menu */

#mobile_nav-btn {
    display: none;
    align-items: center;
    width: 60px;
    height: 45px;
    position: relative;
    transition-duration: 1s;
    cursor: pointer;
    z-index: 999;
}
#mobile_nav-btn span {
    height: 7px;
    width: 35px;
    background-color: #7B61FF;
    border-radius: 20px;
    position: absolute;
    transition-duration: .25s;
    transition-delay: .25s;    
}
#mobile_nav-btn span:before {
    left: 0;
    position: absolute;
    top: -18px;
    height: 7px;
    width: 50px;
    background-color: #7B61FF;
    content: "";
    border-radius: 20px;
    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
}
#mobile_nav-btn span:after {
    left: 0;
    position: absolute;
    top: 18px;
    height: 7px;
    width: 50px;
    background-color: #7B61FF;
    content: "";
    border-radius: 20px;
    transition-duration: .25s;
    transition: transform .25s, top .25s .25s;
}
#mobile_nav-btn.open span {
    transition-duration: 0.1s;
    transition-delay: .25s;
    background: transparent;
}
#mobile_nav-btn.open span:before {
    transition: top .25s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(-45deg);
}
#mobile_nav-btn.open span:after {
    transition: top 0.4s, transform .25s .25s;
    top: 0px;
    transform: rotateZ(45deg);
}

/* mobile-list */

.mobile_nav {
    position: fixed;
    top: 0;
    right: -120%;
    width: 250px;
    height: auto;
    z-index: 99;

    padding: 40px;
    border-radius: 12px;
    background-color: rgb(33, 3, 60);
    transition: all 0.4s ease-in;
}

.mobile_nav--open {
    right: 0;
}

.mobile_nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #919090;
    font-size: 16px;
    font-weight: 400;
    gap: 20px;
}

.active {
    color: #f8f8fa;
}

/*--------------*/

.nav-title {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
    color: white;

    & .title {
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 62px; 
    }

    & .title-btn_item {
        display: flex;
        padding: 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 12px;
        background: #7B61FF;
        cursor: pointer;
        transition: 0.8s;

        &:hover {
            background-color: #5636f7;
        }
    }
}

.search-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #FFF;
    max-width: 1150px;
    height: 88px;
    padding: 8px;
}

.nav-search {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    width: 100%;
    align-items: center;
}

.search-card {
    display: flex;
    align-items: center;
    column-gap: 16px;
    background: #FFF;
    cursor: pointer;
}

.loc {
    width: 300px;
    padding-left: 16px;
}

.activity,.calendary,.users {
    width: 255px;
}

.form-select {
    border: none;
    outline: none;
    color: #060606;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.act,.guest {
    padding-bottom: 7px;
}

.search-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & label {
        color: #5B5B5B;
        font-size: 14px;
        font-weight: 300;
        line-height: 16px; 
    }

    & input {
        border: none;
        outline:none;
        padding: 5px 0;
    
        &::placeholder {
            color: #060606;
            font-size: 16px;
            font-weight: 500;
            line-height: normal;
        }
    }
}

.search-btn {
    width: 60px;
    height: 60px;
    display: flex;
    padding: 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 12px;
    background: #7B61FF;
    cursor: pointer;
    transition: 0.8s;

        &:hover {
            background-color: #5636f7;
        }
}

/* main */

.main-container {
    padding: 120px 0;
    display: grid;
    gap: 120px;
}

.section {
    padding: 0 50px;
}

.section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;
}

.section_title {
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}

.section_card {
    display: grid;
    gap: 32px;
}

.section_card--dest {
    grid-template-columns: repeat(6, 1fr);
}

.card {
    position: relative;
    cursor: pointer;
}

.card > img {
    width: 100%;
}

/* hotels */

.card_title {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.card_title--hotels {
    margin-bottom: 12px;
}

.card_location {
    display: flex;
    align-items: center;
    color: #979797;
    font-size: 13px;
    font-weight: 400;
    line-height: normal; 
}

/* activity */

.card_location--activity {
    padding-top: 16px;
    color: #161414;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.card_location--activity:hover {
    font-weight: 700;
}

.card_location:hover {
    color: #737272;
    font-weight: 500;
}

.hotel_img {
    padding-right: 2px;
}

.section_card--hotels,.section_card--activities,.section_card--travel {
    grid-template-columns: repeat(4, 1fr);
}

.section_card--aboutUs {
    max-width: 1144px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
}

.card_text {
    /* width: 320px; */
    display: flex;
    justify-content: space-between;
}

.title_btn {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    color: #5243C2;
    background: #F6F4FF;
    transition: 0.8s;
}

.btn_vector {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.btn_vector:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.title_btn:hover {
    background-color: #e3ddfb;
}

/* Travel */

.card_travel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    height: 380px;
}

.travel_title {
    color: #161414;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.travel_text {
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
}

.travel_blocknot {
    position: absolute;
    display: flex;
    align-items: flex-start;
    bottom: 0;
    gap: 24px;
}

.blocknot {
    display: flex;
    align-items: center;
    color: #878787;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.blocknot:hover {
    color: #666464;
    font-weight: 500;
}

.blocknot_img {
    padding-right: 4px;
}

/* About us */

.card_about {
    display: flex;
    justify-content: center;
}

.card_aboutUs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.aboutUs_title {
    color: #161414;
    font-size: 32px;
    font-weight: 600;
    line-height: normal;
}

.aboutUs_text {
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; 
}

.aboutUs_img {
    border-radius: 24px;
}

/* Footer */

.footer {
    background: #F9F9F9;
    padding: 120px 50px;
}

.footer_row {
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(3, auto);
}

/* footer logo */

.footer_logo {
    max-width: 354px;
    display: grid;
    gap: 16px;
}

.logo_text {
    padding-bottom: 16px;
    color: #5B5B5B;
    font-size: 13px;
    font-weight: 400;
}

.logo_social {
    display: flex;
    gap: 32px;
    align-items: center;
}

.social {
    cursor: pointer;
}

/* footer nav */

.footer_nav {
    max-width: 505px;
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(3, 1fr);
}

.nav_about,.nav_company,.nav_support,.footer_sub {
    display: grid;
    gap: 20px;
}

.nav_about-title,.nav_company-title,.nav_support-title,.sub_title {
    color: #161414;
    font-size: 18px;
    font-weight: 500;
}

.nav_about-links,.nav_company-links,.nav_support-links {
    display: grid;
    gap: 12px;
}

.footer_link {
    color: #5B5B5B;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}

/* footer sub */

.footer_sub {
    max-width: 388px;
}

.sub_form {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 388px;
    gap: 16px;
}

.sub_form-submit {
    display: flex;
    align-items: center;
    width: 300px;
    height: 72px;
    gap: 16px;
    background-color: #ffffff;
    border-radius: 12px;
    padding-left: 16px;
}

.sub_form-content {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 6px;
}

.sub_form-label {
    position: absolute;
    top: -5px;
    color: #5B5B5B;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    pointer-events: none;
    transition: all 0.2s ease-in;
} 

.sub_form-input:focus ~ .sub_form-label,
.sub_form-input:not(:focus):valid ~ .sub_form-label {
    top: -18px;
}

.sub_form-label--top {
    top: -18px;
}

.sub_form-input {
    border: none;
    outline: none;
    color: #161414;
    font-size: 16px;
    font-weight: 500;
}

.sub_btn {
    display: flex;
    padding: 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 12px;
    background-color: #7B61FF;
    transition: 0.8s;

    &:hover {
        background-color: #5636f7;
    }
}



