.custom-select-container {
  position: relative;
  box-sizing: border-box;;
}
.custom-select-container * {
  box-sizing: border-box;
}
.custom-select-container.is-disabled {
  opacity: .333;
}
.custom-select-opener {
  background-color: #f9f8f8;
  padding-top: 5px;
  display: block;
  cursor: pointer;
  width: 100%;
}
.custom-select-container select {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.custom-select-panel {
  max-height: 0;
  transition: max-height .5s ease-out, overflow-y 0.1s 0.5s;
  overflow: hidden;
  border-radius: 8px;
  background-color: #f8f7f7;
  position: absolute;
  top: 120%;
  z-index: 1;
  width: 140px;
}
.custom-select-container.is-open .custom-select-panel {
  max-height: 10.7em;
  overflow-y: auto;
}
.custom-select-option {
  padding: 0.5em;
}
.custom-select-option.has-focus {
  background-color: rgb(192, 182, 241);
  font-weight: 700;
}
.custom-select-option.is-selected::before {
  content: "✔";
  position: absolute;
  right: 10px;
}
.custom-select-optgroup > .custom-select-option {
  padding-left: 2em;
}
.custom-select-optgroup::before {
  content: attr(data-label);
  display: block;
  padding: 0.5em;
  color: #888;
}
